
body {
	margin:0;
	height:100%;
	overflow:hidden;
	width: 100%;

	background: url('https://beerandbakingdotcom.files.wordpress.com/2014/01/brussels_-34.jpg') no-repeat fixed center center ;
	background-size: cover;
}



#container {
    width: 100%;
    height: 200px;
    display: block;
    margin: auto;
    line-height: 50px;
    text-align: center;
}

#container img{
   width: 200px ;
	height: 200px ;
    margin: 20px;
    vertical-align: middle;
}

#container  img:hover {
	opacity: 0.8;
}

#bloc {
	width: 320px;
	height: 100px;
    padding: 10px;
    border: 0px solid gray;
    margin: 0;
}


h1 {

	text-align: center;
	font-size: 90px;
	font-family: Century Gothic, sans-serif;
	color: #434343;
	line-height: 50px;
}

p {
	font-family: Century Gothic, sans-serif;
	text-align: center;
	font-size: 25px;
	color: #ffffff;
	line-height: 100px;

}

.header {
	width: 100%;
}
